**/*.md
**/*.svg
**/*.ejs
**/*.html
**/*.ico
package.json

/dist
.DS_Store
*.png
*.toml
.gitignore
.prettierignore
LICENSE
.eslintcache
.npmrc
*.lock
yarn-error.log
.editorconfig
.eslintignore
application.properties
Dockerfile*
docker
.dockerignore
.firebaserc
.env